<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings version="1">
  <section id="plugin.program.solokodi.setup">
    <category id="status" label="Build" help="">
      <group id="1" label="">
        <setting id="setup_complete" type="boolean" label="Build setup complete" help="">
          <level>0</level>
          <default>false</default>
          <enable>false</enable>
          <control type="toggle"/>
        </setting>
        <setting id="build_profile" type="string" label="Active build profile" help="">
          <level>0</level>
          <default/>
          <constraints>
            <allowempty>true</allowempty>
          </constraints>
          <enable>false</enable>
          <control type="edit" format="string">
            <heading>Active build profile</heading>
          </control>
        </setting>
        <setting id="build_version_installed" type="string" label="Installed build version" help="">
          <level>0</level>
          <default/>
          <constraints>
            <allowempty>true</allowempty>
          </constraints>
          <enable>false</enable>
          <control type="edit" format="string">
            <heading>Installed build version</heading>
          </control>
        </setting>
        <setting id="preferred_skin" type="string" label="Preferred skin" help="">
          <level>0</level>
          <default>skin.bello.10</default>
          <constraints>
            <allowempty>false</allowempty>
          </constraints>
          <enable>false</enable>
          <control type="edit" format="string">
            <heading>Preferred skin</heading>
          </control>
        </setting>
        <setting id="last_update_check" type="string" label="Last update check (unix time)" help="">
          <level>4</level>
          <default/>
          <constraints>
            <allowempty>true</allowempty>
          </constraints>
          <control type="edit" format="string">
            <heading>Last update check</heading>
          </control>
        </setting>
      </group>
    </category>
    <category id="realdebrid" label="Real-Debrid (Optional)" help="">
      <group id="1" label="">
        <setting id="rd_client_id" type="string" label="Client ID" help="">
          <level>4</level>
          <default/>
          <constraints>
            <allowempty>true</allowempty>
          </constraints>
          <control type="edit" format="string">
            <heading>Client ID</heading>
          </control>
        </setting>
        <setting id="rd_client_secret" type="string" label="Client Secret" help="">
          <level>4</level>
          <default/>
          <constraints>
            <allowempty>true</allowempty>
          </constraints>
          <control type="edit" format="string">
            <heading>Client Secret</heading>
            <hidden>true</hidden>
          </control>
        </setting>
        <setting id="rd_access_token" type="string" label="Access Token" help="">
          <level>4</level>
          <default/>
          <constraints>
            <allowempty>true</allowempty>
          </constraints>
          <control type="edit" format="string">
            <heading>Access Token</heading>
            <hidden>true</hidden>
          </control>
        </setting>
        <setting id="rd_refresh_token" type="string" label="Refresh Token" help="">
          <level>4</level>
          <default/>
          <constraints>
            <allowempty>true</allowempty>
          </constraints>
          <control type="edit" format="string">
            <heading>Refresh Token</heading>
            <hidden>true</hidden>
          </control>
        </setting>
        <setting id="rd_expires_at" type="string" label="Expires At" help="">
          <level>4</level>
          <default/>
          <constraints>
            <allowempty>true</allowempty>
          </constraints>
          <control type="edit" format="string">
            <heading>Expires At</heading>
          </control>
        </setting>
      </group>
    </category>
    <category id="api_tokens" label="Accounts (Optional)" help="">
      <group id="1" label="">
        <setting id="trakt_client_id" type="string" label="Trakt Client ID" help="">
          <level>4</level>
          <default/>
          <constraints>
            <allowempty>true</allowempty>
          </constraints>
          <control type="edit" format="string">
            <heading>Trakt Client ID</heading>
          </control>
        </setting>
        <setting id="trakt_client_secret" type="string" label="Trakt Client Secret" help="">
          <level>4</level>
          <default/>
          <constraints>
            <allowempty>true</allowempty>
          </constraints>
          <control type="edit" format="string">
            <heading>Trakt Client Secret</heading>
            <hidden>true</hidden>
          </control>
        </setting>
        <setting id="trakt_access_token" type="string" label="Trakt Access Token" help="">
          <level>4</level>
          <default/>
          <constraints>
            <allowempty>true</allowempty>
          </constraints>
          <control type="edit" format="string">
            <heading>Trakt Access Token</heading>
            <hidden>true</hidden>
          </control>
        </setting>
        <setting id="trakt_refresh_token" type="string" label="Trakt Refresh Token" help="">
          <level>4</level>
          <default/>
          <constraints>
            <allowempty>true</allowempty>
          </constraints>
          <control type="edit" format="string">
            <heading>Trakt Refresh Token</heading>
            <hidden>true</hidden>
          </control>
        </setting>
        <setting id="trakt_expires_at" type="string" label="Trakt Expires At" help="">
          <level>4</level>
          <default/>
          <constraints>
            <allowempty>true</allowempty>
          </constraints>
          <control type="edit" format="string">
            <heading>Trakt Expires At</heading>
          </control>
        </setting>
        <setting id="trakt_username" type="string" label="Trakt Username" help="">
          <level>0</level>
          <default/>
          <constraints>
            <allowempty>true</allowempty>
          </constraints>
          <control type="edit" format="string">
            <heading>Trakt Username</heading>
          </control>
        </setting>
        <setting id="trakt_api_token" type="string" label="Legacy Trakt Access Token" help="">
          <level>4</level>
          <default/>
          <constraints>
            <allowempty>true</allowempty>
          </constraints>
          <control type="edit" format="string">
            <heading>Legacy Trakt Access Token</heading>
            <hidden>true</hidden>
          </control>
        </setting>
        <setting id="tmdb_api_key" type="string" label="TMDb API Key" help="">
          <level>0</level>
          <default/>
          <constraints>
            <allowempty>true</allowempty>
          </constraints>
          <control type="edit" format="string">
            <heading>TMDb API Key</heading>
            <hidden>true</hidden>
          </control>
        </setting>
      </group>
    </category>
  </section>
</settings>
